<h1><b>This is the application to upload CSV file for Dealer Tracking</b></h1>

<h3><p>Development Summary</p></h3>
<table class='table'>
  <thead>
    <tr>
      <th><h4>Particulars</h4></th>
      <th><h4>Detail</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Developer</td>
      <td>Md Mamunur Rahman</td>
    </tr>
    <tr>
      <td>Frontend Technology</td>
      <td>Angular 5</td>
    </tr>
    <tr>
      <td>Backend Technology</td>
      <td>ASP.NET Core 2.1</td>
    </tr>
    <tr>
      <td>Browser Compatibility</td>
      <td>Chrome, Internet Explorer and Firefox</td>
    </tr>
  </tbody>
</table>
<br />
<br />
<p><b>Go to upload csv file page to see the main functionality</b></p>



