<h1>This is the page to uploas CSV File to get Vechicle Sold information</h1>

<div class="form-group">
  <label for="file">Click on the "Choose File" button to select the file</label>
  <input type="file"
         id="file"
         (change)="onFileSelected($event)">
  <!--<p *ngIf="!vechicleSold"><em>Loading...</em></p>-->
  <br />
  <label *ngIf="isFileSelected" for="file">Click on the "Upload Data" button to upload data into table</label>
  <button *ngIf="isFileSelected"  type="button" (click)="onUpload()"> Upload Data</button>
</div>


<h3 *ngIf="vechicleSold"> All information of vechile sold:</h3>
<table class='table' *ngIf="vechicleSold">
  <thead>
    <tr>
      <th>Deal Number</th>
      <th>Customer Name</th>
      <th>Dealership Name</th>
      <th>Vehicle</th>
      <th>Price</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vechicleSoldInfo of vechicleSold">
      <td>{{ vechicleSoldInfo.dealNumber }}</td>
      <td>{{ vechicleSoldInfo.customerName }}</td>
      <td>{{ vechicleSoldInfo.dealershipName }}</td>
      <td>{{ vechicleSoldInfo.vehicle }}</td>
      <td>{{ vechicleSoldInfo.price   | currency:'CAD'}}</td>
      <td>{{ vechicleSoldInfo.date | slice:0:10 }}</td>
    </tr>
  </tbody>
</table>
<p></p>
<h3 *ngIf="mostOftenVechicleSold"> All information of <u>most often</u> vechile sold:</h3>
<table class='table' *ngIf="mostOftenVechicleSold">
  <thead>
    <tr>
      <th>Deal Number</th>
      <th>Customer Name</th>
      <th>Dealership Name</th>
      <th>Vehicle</th>
      <th>Price</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vechicleSoldInfo of mostOftenVechicleSold">
      <td>{{ vechicleSoldInfo.dealNumber }}</td>
      <td>{{ vechicleSoldInfo.customerName }}</td>
      <td>{{ vechicleSoldInfo.dealershipName }}</td>
      <td>{{ vechicleSoldInfo.vehicle }}</td>
      <td>{{ vechicleSoldInfo.price  | currency:'CAD'}}</td>
      <td>{{ vechicleSoldInfo.date | slice:0:10 }}</td>
    </tr>
  </tbody>
</table>
